.banner
  transition: all 0.15s cubic-bezier(0.02, 0.01, 0.47, 1)
  bottom: -1px

  .close
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1)
    right: 0.5rem
    top: -1rem

  &.closed
    transform: translate3d(0, 100%, 0)
    opacity: 0

  &.open
    transform: translate3d(0, 0%, 1rem)
    opacity: 1