.carousel
  transition: transform 250ms
  white-space: nowrap
  list-style: none
  padding: 0
  margin: 0

.slide
  vertical-align: middle
  white-space: normal
  display: inline-block
  padding: 0 0.5rem

  img
    width: 100%
    height: auto
